
<div class="container">
  <h1 class="mb-3"> Edit Empoyee </h1>
  <div class="row">
    <div class="col-6">
      <form [formGroup]="employeeFrom" >
        <div class="mb-3">
          <label for="id" class="form-label">ID</label>
          <input type="text" class="form-control" id="id" name="id" readonly formControlName="id">
        </div>

        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" formControlName="name"
          [ngClass]="{'is-invalid': ((employeeFrom.get('name')?.touched || employeeFrom.get('name')?.dirty) &&
          !employeeFrom.get('name')?.valid)}">
          <span class="invalid-feedback">
            <span *ngIf="employeeFrom.get('name')?.errors?.['required']">
              please enter name
            </span>
            <span *ngIf="employeeFrom.get('name')?.errors?.['minlength']">
              name must be more than 3 characters
            </span>
          </span>
        </div>


        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" formControlName="email">
        </div>

        <div class="mb-3">
          <label for="phone" class="form-label">Phone</label>
          <input type="number" class="form-control" id="phone" name="phone" formControlName="phone">
        </div>

        <div class="mb-3">
          <label for="salary" class="form-label">Salary</label>
          <input type="number" class="form-control" id="salary" name="salary" formControlName="salary">
        </div>

        <div class="mb-3">
          <label for="department" class="form-label">Department</label>
          <input type="text" class="form-control" id="department" name="department" formControlName="department">
        </div>


        <div class="example-button-row">
          <button type="submit" mat-raised-button color="primary"
        (click)="updateEmployee()">Save</button>

        <button type="button" mat-raised-button color="warn"
        (click)="deleteEmployee(employeeDetails.id)">Delete</button>
        </div>
      </form>

    </div>
  </div>
</div>
